.welcome-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.galaxy-bg {
  position: absolute;
  background-color: black;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.hero-text {
  z-index: 1;
  font-size: clamp(3rem, 9vw, 6rem);
  font-weight: 900;
  font-family: 'JetBrains Mono', monospace;
  background:linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-shine 3s ease-in-out infinite alternate;
  letter-spacing: 0.08em;
  text-align: center;
  backdrop-filter: blur(3px);
  filter: drop-shadow(0 0 12px rgba(45, 36, 45, 0.5));
}

@keyframes text-shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}
